body {
  font-family: 'Poppins', sans-serif;
  background-color: #7e2959;
  color: #f1f5f9;
  margin: 0;
  padding: 0;
}

h{
  font-family:'Lucida Grande';
}

header {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(90deg, #7e5cae, #aa54c2);
  box-shadow: 0 0 20px rgba(37, 18, 91, 0.5);
}
h1 {
  color: #1c59a0;
  font-size: 40px;
}
p {
  color: #626aa8;
  font-size: 20px;
}
h1 {
  Color: #302706;
  font-family: 'Lucida Grande';
  font-size: 40px;
  text-align: center;
}

h1{
font-size: 1000 px;
color: #3f2a82;
}

p{
  color: #86a1bc;
  font-size: 30px;
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/* ====== BOTONES ====== */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
button {
  background-color: #953aa3d0;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #953aa3d0;
  transform: scale(1.05);
}
button.secondary {
  background-color: #953aa3d0;
}

/* ====== SECCIÓN DE MATERIALES ====== */
#materiales {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
#materiales h2 {
  color: #fbbf24;
}
.material {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}
.material img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #fbbf24;
}

footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
  font-size: 0.9em;
}

/* ====== SECCION DE PASOS ====== */
body{
  background-color: #7f1b6ed0;
}

.paso img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #3f2a82;
}

.paso img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #3f2a82;
}